*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 140vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(images/IMG_9780.JPG);
    background-position: center;
    background-size: cover;
    position: relative;

}

nav{
    display: flex;
    padding: 1% 7%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 85px;
    
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 7px 12px;
    position: relative;
}
.nav-links ul li button{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 7px 18px;
    font-size: 14px;
    background: rgba(40, 240, 0, 0.897);
    position: relative;
    cursor: pointer;
    border-radius: 7px;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.nav-links ul li a.button{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 17px;
    background: rgba(40, 240, 0, 0.897);
    position: relative;
    cursor: pointer;
    border-radius: 8px;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    /*transform is used to let the item to be at the center of div*/
    transform: translate(-50%,-50%);
    text-align: left;
    margin-top: 10%;
    margin-left: 2%;
}
.text-box h1{
    font-size: 56px;
}

.text-box p{
    /* 10px for top 0 for right and left and 40px for buttom*/
    margin: 10px 0 40px;
    font-size: 24px;
    color: white;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 17px;
    background: rgba(40, 240, 0, 0.897);
    position: relative;
    cursor: pointer;
    border-radius: 8px;
}
.hero-btn:hover{
    border: 1px solid rgba(40, 240, 0, 0.507);
    background: rgba(40, 240, 0, 0.507);
    transition: 1s;
}
nav .fa-solid{
    display: none;
}
nav a{
    display: block;
    z-index: 9;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 29px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: white;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        right: -100%;
        text-align: center;
        z-index: 2;
        transition: 1s; 
        z-index: 8;       
    }
    /*making the x sign visible*/
    nav .fa-solid{
        display: block;
        margin: 10px;
        color: rgb(21, 30, 156);
        font-size: 30px;
        cursor: pointer;
        margin-left: 240px;
        margin-top: 50px;
    }
    .nav-links ul li a.button{
        background-color: #fff;
        color: black;
        font-size: 30px;
        font-weight: bolder;
        padding-bottom: 35%;
        
    }
    .nav-links ul li a{
        font-weight:bolder;
        list-style: none;
        color: black;
        font-size: larger;
    }
    .nav-links ul{
        padding-top: 1px;
        font-weight: bolder;
        font-size: 22px;
    }
    nav a img{
        margin-top: 40px;
        width: 60px;
        height: 60px;
        z-index: 9;
    }
    .header{
        min-height: 85vh;
        width: 100%;
        background-position: center;
        background-size: cover;
        position: relative;
    
    }   
}
/*-------------programs-----------*/
.background{
    background-color: rgba(40, 240, 0, 0.897);

}
.programs{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    color: white;
    font-size: 36px;
    font-weight: 600;
}
.row{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.program-col{
    text-align: left;
    flex-basis: 31%;
    background: white;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    padding: 10px;

}
@media (max-width: 700px) {
    .row{
        flex-direction: column;
    }
}
.statistics{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-left: 10%;
}
.statistics h1{
    color: rgba(40, 240, 0, 0.897);
    font-size: 36px;
    font-weight: 2000;
}
.Row{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.Column{
    text-align: left;
    flex-basis: 31%;
    background: white;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    padding: 10px;

}
@media (max-width: 700px) {
    .Row{
        flex-direction: column;

    }
    .skills.Row.Column img{
        width: 350px;
        height: 350px;
    }
}

.skills h5{
    font-size: 20px;
    font-weight: 2000;
}
.skills h1{
    color: black;
    font-size: 45px;
    font-weight: 2000;
}
@media (max-width: 700px) {
    .styleMe{
        width: 350px;
        height: 250px;
    }
}
.styleh1{
    color: black;
    font-size: 45px;
    font-weight: 2000;
}