*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/IMG_9780.JPG);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 1% 7%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 85px;
    
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 7px 12px;
    position: relative;
}
.nav-links ul li button{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 7px 18px;
    font-size: 14px;
    background: rgba(40, 240, 0, 0.897);
    position: relative;
    cursor: pointer;
    border-radius: 7px;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    /*transform is used to let the item to be at the center of div*/
    transform: translate(-50%,-50%);
    text-align: left;
    margin-top: 10%;
    margin-left: 2%;
}
.text-box h1{
    font-size: 56px;

}
.text-box p{
    /* 10px for top 0 for right and left and 40px for buttom*/
    margin: 10px 0 40px;
    font-size: 24px;
    color: white;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 17px;
    background: rgba(40, 240, 0, 0.897);
    position: relative;
    cursor: pointer;
    border-radius: 8px;
}